<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"> </head>
<body>
<div class= "container">
    <div style="margin-left: 60px">
        <form th:action="@{/logout}" method="post">
            <button id="logout" class="btn btn-primary" type="submit" style="margin-right: 10px;float: right;">Logout</button>
        </form>
        <h1>History</h1>

    </div>



    <div class="col" style="margin: 5%" >
        <div id = "history" class="card border-info mb-3" style="max-width: 30rem; margin-right: 10px; display: block">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-8">List of popular searches</h5>
                </div>
            </div >
            <div id = "data" class="card-body text-info">
                <ul th:if="${users != null}" th:each="user : ${users}">
                    <li>
                        <a th:href="${user.link}" th:text="${user.userName}" ></a>
                        <span th:text="': ' + ${user.numOfSearches}" ></span>
                    </li>
                </ul>
            </div>
        </div>
        <button id="destroy" class="btn btn-primary" type="button" style="margin-right: 10px;float: left">Delete History</button>
        <a  th:href="@{/}" class="btn btn-primary" style="float: left; color: white;">Back to Search</a>
    </div>

</div>
<script>
    // event listeners
      document.addEventListener('DOMContentLoaded', function () {
           document.getElementById("destroy").addEventListener("click", delete_data);
       }, false);

       function delete_data(){
          // document.getElementById("results").style.display = "block";
           //var user_name = document.getElementById("input").value.trim();
           fetch('/delete', {
               method: 'post',
               headers: {
                   'Content-Type': 'application/json'
               }
               })
               .then(res => res.json())
               .then(resp => {
                   let res = "";
                   res += resp.msg;
                   document.getElementById("data").innerHTML = res;
                 //  document.getElementById("results").style.display = "block";
               })
               .catch(e => {
                   console.log(e);
                   //document.getElementById("data").innerHTML = "user not found";
               });
       }


</script>


</body>
</html>