<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"> </head>
<body>


<div style="margin-left: 60px">
    <h1>Login Page</h1>
    <form th:action="@{/login/register}" method="post">
        <input id="user_name_input"  name= "userName" type="text" class="form-control col-6" placeholder="User name..." aria-label="User name..." style="margin-bottom: 10px;">
        <input id="password_input" name="password" type="password" class="form-control col-6" placeholder="Password..." aria-label="Password..." style="margin-bottom: 10px;">
        <button id="login_btn" class="btn btn-primary" type="submit" style="margin-right: 10px">Login</button>
    </form>
    <h3 id = "msg" th:if="${errorMsg != null}" th:text="${errorMsg}" style="color: red"></h3>
</div>

</body>
</html>